
.articles {
    
    padding: 0 2rem;
    
    &__article {
        display: grid;
        grid-template-columns: .3fr 1.7fr;
        gap: 1.5rem;
        margin-bottom: 2rem;
    }
    
    &__image {
        max-width: 100%;
        max-height: 100%;
        align-self: flex-end;
    }

    &__info {
        display: flex;
        gap: .8rem;
    }

    &__author {
        text-decoration: none;
        color: #f0c5ec;
    }

    &__summary {
        line-height: 1.5rem;
    }
}