
.articles {
    
    
    &__article {
        display: grid;
        grid-template-columns: .9fr 1.1fr;
        gap: 1.25rem;
    }
    
    &__image {
        max-width: 100%;
    }

    &__info {
        display: flex;
        gap: .8rem;
    }

    &__author {
        text-decoration: none;
        color: #f0c5ec;
    }

    &__summary {
        line-height: 1.5rem;
    }
}