.community {

    margin: 8rem 2rem 0 2rem;

    &__welcome{
        margin: 0 !important;
    }

    &__header {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__title {
        font-size: 3rem;
    }

    &__subheading {
        font-size: 1.25rem;
    }

    &__post-heading {
        text-align: center;
        font-size: 1.25rem;
        position: relative;
        right: 2rem;
    }

    &__posts {
        display: flex;
        flex-direction: column;
        margin-bottom: 20rem;
    }

    &__post {
        display: flex;
        align-items: center;
        border-bottom: 1px solid grey;
    }

    &__post-author {
        width: 1%;
        padding-right: 10rem;
    }

    &__user-icon {
        max-width: 3rem;
        max-height: 3rem;
        background-color: grey;
        border-radius: 50%;
        margin-right: 3rem;
    }

    &__post-button-container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-right: 3rem;
    }

    &__post-button {
        background-color: azure;
        border: 0;
        border-radius: 0.5rem;
        padding: 0.6rem;
        box-shadow: 8px 8px 20px 2px rgb(107, 37, 144);
    }

    &__post-form {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        flex-direction: column;
        margin-top: -2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin: 2rem 4rem 5rem 0;
        width: 40%;
    }

    &__form-title {
        margin-bottom: 1rem;
        border-radius: 1rem;
        padding: 0.5rem 2rem;
        border: 0;
    }

    &__form-text {
        height: 2rem;
        padding: 2rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        border: 0;
    }
}