@use '../../styles/partials/mixins' as *;

.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15rem;

    &__heading {
        text-align: center;
    }

    &__list {
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 0 10rem;
    }

    &__list-item {
        text-transform: capitalize;
        font-size: 1.5rem;
        padding: 4rem 6rem;
        margin: 0 4rem;
        border: 3px solid rgb(228, 228, 206, 0.5);
        border-radius: 1vmax;
        // transition: transform .5s ease-in-out;
        // &:hover {
        //     transform: scale(1.1);
        // }
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }
}