.profile {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__heading{
        margin-bottom: 3rem;
    }

    &__cards{
        margin-bottom: 20rem;
    }

    &__logout-container {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 40rem;
        right: 10rem;
    }

    &__logout-button {
        background-color: azure;
        font-size: 1.25rem;
        border: 0;
        border-radius: 0.5rem;
        padding: 1rem;
        box-shadow: 8px 8px 20px 2px rgb(107, 37, 144);
    }
}