.profile {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__heading{
        margin-bottom: 3rem;
    }

    &__logout-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 3rem;
        margin-right: 5rem;
    }

    &__logout-button {
        background-color: azure;
        border: 0;
        border-radius: 0.5rem;
        padding: 0.6rem;
        box-shadow: 8px 8px 20px 2px rgb(107, 37, 144);
    }
}