.footer {

    background-image: linear-gradient(to right, rgb(147, 102, 193), rgb(83, 72, 228));
    border-top: 2px solid rgb(228, 228, 206);
    padding-bottom: 2rem;
    position: relative;
    width: 100%;
    bottom: 0;

    &__container{
        display: flex;
        flex-direction: row;
        padding-left: 7rem;
        justify-content: space-between;
    }

    &__column {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    &__subheading{
        margin: 0;
    }

    &__contact-subheading{
        margin-bottom: -0.5rem;
    }

    &__body {
        margin: 0;
        line-height: 1.25rem;
    }

    &__contact-body {
        margin: 1rem 0 0 0;
        line-height: 1.25rem;
    }

    &__link {
        text-decoration: none;
        color: #d4ebec;

        &:hover{
            color: #c547ef;
        }
    }
}