@use './styles/partials/fonts' as *;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montseratt', Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: #3c5da4;
  color: rgb(228, 228, 206);
  line-height: 2rem;
}