.home-page {

    display: flex;
    flex-direction: column;
    overflow: auto;
    z-index: 5;


    &__subheading{
        display: inline-block;
        font-size: 2.5rem;
        text-align: center;
        justify-self: center;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgb(228, 228, 206);
    }

    &__sub-container {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        margin-top: 50rem;
    }
}