
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &__left {
        padding-left: 2rem;
    }

    &__right {
        padding-right: 2rem;
    }

    &__list {    
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    &__list-item {
        padding: 0 2rem;
        font-weight: 600;
    }
}