
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    &__text--no-decor {
        text-decoration: none;
        color: inherit;
    }
    
    &__left {
        padding-left: 2rem;
    }

    &__right {
        padding-right: 2rem;
    }

    &__list {    
        display: flex;
        align-items: center;
        flex-direction: row;
        list-style: none;
    }

    &__list-item {
        padding: 0 2rem;
        font-weight: 600;
        align-items: center;
    }

    &__logo {
        max-width: 4rem;
        max-height: 4rem;
    }

    &__user-image {
        max-width: 3rem;
        max-height: 3rem;
        background-color: rgb(228, 228, 206);
        border-radius: 50%;
    }
}

.nav.fixed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    transition: 3s ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 10;
    background: inherit;
    border-bottom: 2px solid rgb(228, 228, 206);
    top: 0;
    background-image: linear-gradient(to right, rgb(83, 72, 228) , rgb(147, 102, 193));
}